:root {
  --first-background-color: #000000;
  --first-color-text: #FFFFFF;
  --accent-color-text: #C2E978;
  --color-btn: #08162B;
  --second-background-color: #191D2E;
  --main-text: 1rem;
  --small-text: 0.85rem;
  --middle-text: 1.3rem;
  --large-title-text: 2.4rem;
  --middle-title-text: 1.6rem;
}

html {
  font-family: "Teko", sans-serif;
  font-size: 20px;
}

body {
  background: var(--first-background-color);
  color: var(--first-color-text);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

section {
  margin-top: 70px;
}

.section-title {
  font-family: "Griffy";
  font-size: var(--middle-title-text);
  line-height: 1.25;
  letter-spacing: 1.6px;
}

.title {
  font-family: "Griffy";
  font-size: var(--large-title-text);
  line-height: 1;
  letter-spacing: 2.4px;
}

.btn {
  background-color: var(--accent-color-text);
  color: var(--color-btn);
  font-weight: 700;
  letter-spacing: 1.19px;
  border-radius: 10px;
  padding: 15px 55px;
  text-transform: uppercase;
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: -5px -5px;
}
.grid-list li {
  background-color: var(--second-background-color);
  padding: 32px 24px;
  margin: 5px 5px;
}
.grid-list h3 {
  color: var(--accent-color-text);
  margin-bottom: 4px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
.header-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}
.header-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.header-container li {
  margin: 0 15px;
}
.header-container li a {
  font-size: var(--small-text);
  font-weight: 500;
}

.header-logo {
  margin-right: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-container {
  text-align: center;
}
.hero .section-title {
  color: var(--accent-color-text);
}

.hero-first-text {
  position: relative;
  margin: 12px 0 70px;
}
.hero-first-text::after {
  position: absolute;
  content: url("../../images/Line-1.svg");
  top: 80px;
  left: calc((100% - 100px) / 2);
}

.hero-second-title {
  margin-bottom: 12px;
}
.hero-second-title span {
  color: var(--accent-color-text);
}

.main-container-subscribe {
  background: -webkit-gradient(linear, left top, left bottom, from(#0E1A19), to(#133B2A));
  background: linear-gradient(180deg, #0E1A19 0%, #133B2A 100%);
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-container-subscribe div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333333333%;
          flex: 0 1 33.3333333333%;
}
.main-container-subscribe .tree-container {
  position: relative;
}
.main-container-subscribe .tree {
  position: absolute;
  top: -270px;
  left: -20px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 120%;
}

.subscribe-first-title {
  color: var(--accent-color-text);
  margin-left: 20px;
}

.second-container-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.second-container-subscribe p {
  text-align: right;
  margin-bottom: 24px;
}

.components-title {
  text-align: center;
  margin-bottom: 20px;
}

.possibility-title {
  text-align: center;
  margin-bottom: 20px;
}
.possibility-title span {
  color: var(--accent-color-text);
}

.possibility-list {
  grid-template-columns: 1fr 1fr 1fr;
}

.price h2 {
  text-align: center;
  margin-bottom: 12px;
}
.price h2 span {
  color: var(--accent-color-text);
}

.price-first-formula,
.price-second-formula {
  text-align: center;
  font-family: "Griffy";
  font-size: var(--middle-text);
  letter-spacing: 1.374px;
}

.price-second-formula {
  margin-bottom: 20px;
}

.price-first-formula {
  position: relative;
}
.price-first-formula::after {
  position: absolute;
  content: url(../../images/price-image-dash-1.svg);
  top: 12px;
  left: calc((100% - 266px) / 2);
}

.block-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#10121D), to(#191D2E));
  background: linear-gradient(180deg, #10121D 0%, #191D2E 100%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block-price .block-formula {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
}
.block-price .block-formula div {
  margin: 0 20px;
}
.block-price .block-formula .block-part-formula {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -5px;
}
.block-price .block-formula .block-part-formula::after {
  position: absolute;
  content: url(../../images/price-image-dash-2.svg);
  top: 30px;
}
.block-price .price-btn {
  height: 80px;
  margin-left: 30px;
}

.fifth-part-formula {
  position: relative;
}
.fifth-part-formula::after {
  position: absolute;
  content: url(../../images/Line-2.svg);
  bottom: -30px;
  left: 10px;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.price-list p {
  position: relative;
}
.price-list p::before {
  position: absolute;
  content: url(../../images/price-icon-image-1.svg);
  left: -36px;
}

.examples-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.examples-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.examples-block h2 {
  position: relative;
  padding-left: 30px;
  margin-right: 40px;
}
.examples-block h2::before {
  position: absolute;
  content: url(../../images/examples-bg.svg);
  z-index: -1;
  top: -54px;
  left: 0;
}
.examples-block span {
  color: var(--accent-color-text);
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}
.examples-list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333333333%;
          flex: 0 1 33.3333333333%;
  margin: 0 5px;
}
.examples-list img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.examples-bottom-text {
  margin: 24px 0 20px;
}

.airdrop {
  text-align: center;
}
.airdrop p {
  margin: 24px 0 40px;
}

.airdrop-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -8px;
}
.airdrop-list li {
  margin: 0 8px;
}
.airdrop-list h3 {
  font-family: "Griffy";
}

.first-outline {
  position: relative;
}
.first-outline::after {
  position: absolute;
  content: url(../../images/airdrop-dash-image-1.svg);
  left: 142px;
  top: 50px;
}

.second-outline {
  position: relative;
}
.second-outline::after {
  position: absolute;
  content: url(../../images/airdrop-dash-image-2.svg);
  left: 190px;
  top: 60px;
}

.third-outline {
  position: relative;
}
.third-outline::after {
  position: absolute;
  content: url(../../images/airdrop-dash-image-3.svg);
  left: 215px;
  top: 70px;
}

.tokenom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 64px;
  background: -webkit-gradient(linear, left top, left bottom, from(#131624), to(#191D2E));
  background: linear-gradient(180deg, #131624 0%, #191D2E 100%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tokenom-block .tokenom-right-block {
  margin-left: 30px;
}
.tokenom-block ul {
  margin: 32px 0;
}
.tokenom-block ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 36px;
}

.first-item {
  position: relative;
}
.first-item::before {
  position: absolute;
  content: url(../../images/tokenom-icon-1.svg);
  left: -36px;
}

.second-item {
  position: relative;
}
.second-item::before {
  position: absolute;
  content: url(../../images/tokenom-icon-2.svg);
  left: -36px;
}

.third-item {
  position: relative;
}
.third-item::before {
  position: absolute;
  content: url(../../images/tokenom-icon-3.svg);
  left: -36px;
}

.roadmap h2 {
  margin: 0 75px 24px;
}
.roadmap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -5px;
}
.roadmap ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  background: -webkit-gradient(linear, left top, left bottom, from(#10121D), to(#191D2E));
  background: linear-gradient(180deg, #10121D 0%, #191D2E 100%);
  padding: 32px 24px;
  margin: 0 5px;
  height: 240px;
}
.roadmap ul li p {
  margin-top: 12px;
}
.roadmap ul li:hover, .roadmap ul li:focus, .roadmap ul li:active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 55, 66, 0.4)), to(rgba(7, 126, 76, 0.4)));
  background: linear-gradient(180deg, rgba(1, 55, 66, 0.4) 0%, rgba(7, 126, 76, 0.4) 100%);
}

.team {
  margin-bottom: 80px;
}
.team h2 {
  text-align: center;
  margin-bottom: 30px;
}
.team ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}
.team ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team ul li img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.team ul li h3,
.team ul li p {
  text-align: center;
}

.footer-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(#201841), to(#2C205D));
  background: linear-gradient(180deg, #201841 0%, #2C205D 100%);
  padding: 40px 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-block::after {
  position: absolute;
  content: url(../../images/footer-image-4.svg);
  left: 33.3333333333%;
}
.footer-block h2 {
  max-width: 420px;
  width: 100%;
  text-align: center;
  margin-right: 50px;
}
.footer-block h2 span {
  color: var(--accent-color-text);
}
.footer-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}
.footer-block ul li {
  margin: 0 20px;
}

.footer-text {
  font-family: "Griffy";
  font-size: var(--small-text);
  text-align: center;
  margin: 80px 0 50px;
}/*# sourceMappingURL=styles.css.map */