:root {
    // color
    --first-background-color: #000000;
    --first-color-text: #FFFFFF;
    --accent-color-text: #C2E978;
    --color-btn: #08162B;
    --second-background-color: #191D2E;

    // font-size
    --main-text: 1rem;
    --small-text: 0.85rem;
    --middle-text: 1.3rem;
    --large-title-text: 2.4rem;
    --middle-title-text: 1.6rem;
}
