.grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -5px -5px;
    li {
        background-color: var(--second-background-color);
        padding: 32px 24px;
        margin: 5px 5px;
    }
    h3 {
        color: var(--accent-color-text);
        margin-bottom: 4px;
    }
}
