.examples-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.examples-block {
    display: flex;
    height: 150px;
    justify-content: space-between;
    margin-bottom: 20px;
    h2 {
        position: relative;
        padding-left: 30px;
        margin-right: 40px;
        &::before {
            position: absolute;
            content: url(../../images/examples-bg.svg);
            z-index: -1;
            top: -54px;
            left: 0
        }
    }
    span {
        color: var(--accent-color-text);
    }
}
.examples-list {
    display: flex;
    margin: 0 -5px;
    li {
        flex: 0 1 calc(100% / 3);
        margin: 0 5px;
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.examples-bottom-text {
    margin: 24px 0 20px;
    
}


@media screen and (max-width: 460px ) {
    .examples-block {
        display: none;
    }
}
