.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    .header-nav {
        display: flex;
        align-items: center;
        max-width: 900px;
        width: 100%;
        justify-content: space-between;
        
    }
    ul {
        display: flex;
        margin: 0 -15px;
        align-items: center;
    }

    li {
        margin: 0 15px;
        a {
            font-size: var(--small-text);
            font-weight: 500;
        }
    }
}

.header-logo {
    margin-right: 24px;
    align-items: center;
} 
.burger {
    display: none;
}


@media screen and (max-width: 950px ) {
   .burger {
    display: block;
    z-index: 3;
    position: relative;
    width: 30px;
    height: 20px;    
    &::before {   
         content: '';
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #fff;
         top: 0;
    }
    &::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #fff;
         bottom: 0;
    }
    span {
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #fff;
         top: 9px;
     }
    
 }
 .burger.active {
    &::before {   
         transform: rotate(45deg);
         top: 50%;
    }
    &::after {
        transform: rotate(-45deg);top: 50%;
    }
    span {
        transform: scale(0)
     }
    &.active {
        top: 0;
    }
 }
 .header-nav {
    position: fixed;
    flex-direction: column;
    background-color: var(--first-background-color);
    z-index: 2;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 0 40px;
    .header-nav-list {
        flex-direction: column;
        height: 70%;
        justify-content: space-between;
        overflow-y: hidden;
        li {
            margin-bottom: 10px;
            a {
                font-size: var(--middle-text);
            }
        }
    }
    &.active {
        top: 0;
    }
}

}

@media screen and (max-width: 800px ) {
    .header-container {
        height: 80px;
    }
    
}