.hero {
    .hero-container {
        text-align: center;
    }
    .section-title {
        color: var(--accent-color-text);
    }
}

.hero-first-text {
    position: relative;
    margin: 12px 0 70px;

    &::after {
        position: absolute;
        content: url('../../images/Line-1.svg');
        top: 80px;
        left: calc((100% - 100px) /2 );
    }
}
.hero-second-title {
    margin-bottom: 12px;
    span {
        color: var(--accent-color-text);
    }
}
