.hero {
    padding: 27px 0 80px;
    .hero-container {
        text-align: center;
    }
    .section-title {
        color: var(--accent-color-text);
    }
}

.hero-first-text {
    position: relative;
    margin: 12px 0 70px;

    &::after {
        position: absolute;
        content: "";
        width: 100px;
        height: 5px;
        top: 80px;
        left: calc((100% - 100px) /2 );
        background-color: var(--accent-color-text);
        transform: rotate(-11deg);
    }
}
.hero-second-title {
    margin-bottom: 12px;
    span {
        color: var(--accent-color-text);
    }
}
